<h1>Welcome to Cage Wars!</h1>
<h2>Give us your names!!</h2>
<form action="/names" method="post" >
    <label for="player1">
      First Warrior name
    <input type="text" name="player1">
  </label>
  <label for="player2">
      Second Warrior name
  <input type="text" name="player2">
</label>
    <input type="submit" value="Submit">
</form>
